<div class="si-about-container">
	<p class="si-about-content"><span class="si-bold-text">What is <span class="si-inline-brand">Should I?</span>:</p>
	<p class="si-about-content"><span class="si-inline-brand">Should I?</span> is a collaborative enviornment where users can posts a series of options for other users can provide input and advice, ultimately helping the poster make the best decision!</span></p>
</div>

<div class="si-about-container">
	<p class="si-about-content"><span class="si-bold-text">Who uses <span class="si-inline-brand">Should I?</span>:</p>
	<p class="si-about-content"><span class="si-inline-brand">Should I?</span> is used by a wide range of people from friends and families to larger companies looking for opinions form the consumer!</p>
</div>

<div class="si-about-container">
	<p class="si-about-content"><span class="si-bold-text">Who are the creators?</span>:</p>
	<p class="si-about-content">You can learn more about the <span class="si-inline-brand">Should I?</span> team on our team page (coming soon)</p>
</div>

<div class="si-about-container">
	<p class="si-about-content"><span class="si-bold-text">Need Support?</span>:</p>
	<p class="si-about-content">If you need customer supposrt, contact us by email and we will get back to you ASAP</p>
</div>