/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/**
 * Site Wide Styles
 *
*/

a:hover {
	background: none;
	color: darkblue;
	transition: color 0.3s;
}

.si-inline-brand {
	font-family: 'Pacifico', cursive;
	color: darkblue;
}

.si-content-header {
	text-align: center;
	margin-bottom: 25px;
}


/**
 * Stlyes for site header
 *
*/

.header {
	width: 100%;
}

.header-text {
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	text-align: center;
	color: darkblue;
}

.nav-bar {
	width: 100%;
	margin-bottom: 20px;
}

.nav-links {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.nav-links-item {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
}

.nav-links-item a {
	text-decoration: none;
}

.si-site-content {
	max-width: 960px;
	margin: 0 auto;

	animation-name: fadeIn;
	animation-duration: 1s;
}


/**
 * Stlyes for posts
 *
*/

.si-container {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.si-bold-text {
	font-weight: 700;
	color: darkblue;
}

.si-tease-image {
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
}

.si-tease-content {
	display: inline-block;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 100%;
	}
}



