<div class="nav-bar">
	<ul class="nav-links">
		<li class="nav-links-item"><%= link_to "Home", controller: "static_pages", action: "home" %></li>
		<li class="nav-links-item"><%= link_to "Opinions", controller: "opinions" %></li>
		<li class="nav-links-item"><%= link_to "Sign Up", controller: "static_pages", action: "signup" %></li>
	</ul>
</div>